@import 'styles/theme.scss';

.root {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;

  input {
    background-color: $transparent;
    @include padding(2, 2);
    outline: none;
    color: lighten($black, 50%);
    font-weight: 600;
    caret-color: $secondary-dark;
    border: 0;
    width: 50%;
    cursor: pointer;
    font-size: 40px;
    &:focus {
      color: $black;
    }
  }

  input::-webkit-input-placeholder {
    line-height: 3;
    font-size: 16px;
    font-weight: 200;
  }
}
