$color--white: #ffffff;
$color--black: #000000;
$color--transparent: rgba(0, 0, 0, 0);

$color--teal-100: #e3fcfa;
$color--teal-200: #c7f8f4;
$color--teal-300: #9df3ec;
$color--teal-400: #73efe4;
$color--teal-500: #57ebdf;
$color--teal-600: #3ae8d9;
$color--teal-700: #18ccbd;
$color--teal-800: #14a79b;

$color--grey-100: #f9fafa;
$color--grey-200: #f4f5f6;
$color--grey-300: #e7e9eb;
$color--grey-400: #d8dadd;
$color--grey-500: #b4bbc2;
$color--grey-600: #959ea8;
$color--grey-700: #74808c;
$color--grey-800: #5c636b;

$color--yellow-100: #fffbed;
$color--yellow-200: #fff4c8;
$color--yellow-300: #ffeda4;
$color--yellow-400: #ffe680;
$color--yellow-500: #ffd737;
$color--yellow-600: #ffcc00;
$color--yellow-700: #edbd00;
$color--yellow-800: #dbaf00;

$color--purple-100: #f2e9fe;
$color--purple-200: #e6d3fe;
$color--purple-300: #bf91fc;
$color--purple-400: #994ffa;
$color--purple-500: #8023f9;
$color--purple-600: #5405bd;
$color--purple-700: #360379;
$color--purple-800: #341163;

$color--success: #00a870;
$color--error: #b80c00;
$color--warning: #edbd00;
